<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='still.css') }}">
    <link href="/stylesheets/still.css" rel="stylesheet" type="text/css" />
    {% block refresh %} {% endblock %}
</head>
<body>
    <header>
        <h1>Vörulistinn</h1>
    </header>s
    <main>
        {% block content %}

        {% endblock %}
    </main>
    <footer>
        {% include "fotur.tpl" %}
    </footer>
</body>
</html>