<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-compatible" content="ie=edge">
        <title>document</title>
        <link rel="stylesheet" href="/Static/styles.css">

    </head>
    <body>
        <header>
            <h3>
                þversumma kennitölu
            </h3>
        </header>
        <ol>
            <li>oskar iwan eliasson  <a href="/sida/0606012910">0606012910</a></li>
            <li>oskar juan eliasson  <a href="/sida/2222222222">2222222222</a></li>

        </ol>
    </body>
</html>