<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatable" content="ie=edge">
        <title>
            html grunnur - template
        </title>
        <link rel="stylesheet" href="static/styles.css">
    </head>
    <body>
        <header>
            <h3>
                þversumma kennitölunnar {{kt}} er {{summa}}
            </h3>
        </header>
    </body>
</html>